!!! 5
%head
  %title= _('Maria Gilmanova')
  %script(src="http://code.jquery.com/jquery-2.0.3.min.js")
  %link(rel="stylesheet" type="text/css" href="/stylesheets/app.css")
  %link(rel="shortcut icon" href="/images/favicon.ico")
%body
  %header
    .locale.circle30{ class: locale_class('en') }
      %span en
    .locale.circle30{ class: locale_class('ru') }
      %span ru
    %h1= _('Maria Gilmanova')
  %nav
    .circle100.photos
      %span= _('Photos')
    .circle100.pottery
      %span= _('Pottery')
    .circle100.aboutme
      %span= _('About Me'){ 'data-url' => "/#{current_locale}/aboutme" }
    .circle100.contacts
      %span= _('Contacts'){ 'data-url' => "/#{current_locale}/contacts" }
  .content
    = yield
  %script(src="/javascripts/app.js")
