!!! 5
%head
  %title= _('Maria Gilmanova')
  %script(src="http://code.jquery.com/jquery-2.0.3.min.js")
  %link(rel="stylesheet" type="text/css" href="/stylesheets/app.css")
  %link(rel="shortcut icon" href="/images/favicon.ico")
%body
  %header
    .locale.circle30{ class: locale_class('en') }
      %span en
    .locale.circle30{ class: locale_class('ru') }
      %span ru
    %h1= _('Maria Gilmanova')
  %nav
    .circle100.photos
      %a(href="http://www.flickr.com/photos/tenshii" target="_blank")
        %span= _('Photos')
    .circle100.pottery
      %a(href="http://www.flickr.com/photos/tenshii/sets/72157641059693105/" target="_blank")
        %span= _('Pottery')
    .circle100.aboutme
      %a{ href: "/#{current_locale}/aboutme" }
        %span= _('About Me')
    .circle100.contacts
      %a{ href: "/#{current_locale}/contacts" }
        %span= _('Contacts')
  .content
    = yield
  %script(src="/javascripts/app.js")
